.page {
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}
.block {
  margin: 30px 0;
  background-color: wheat;
  width: 700px;
  text-align: center;
}
h1 {
  margin-bottom: 10px;
}
.input {
  margin: 0 auto 30px auto;
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.business {
  width: 70%;
  height: 30px;
  border: 2px solid burlywood;
  padding-left: 15px;
}
.but {
  width: 20%;
  height: 36px;
  border: 2px solid burlywood;
  font-size: 16px;
  background-color: burlywood;
  border-radius: 5px;
}
.list {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: burlywood;
  width: 600px;
  margin: 20px auto 20px auto;
}
.item {
  display: flex;
  align-items: center;
}
.text {
  margin-left: 30px;
  width: 300px;
  text-align: left;
}

.chbtrue {
  background-color: rgb(219, 140, 36);
}

.deleteButton {
  background-color: burlywood;
  border: none;
  font-size: 25px;
  width: 40px;
  height: 40px;
}
.deleteButton1 {
  background-color: rgb(219, 140, 36);
  border: none;
  font-size: 25px;
  width: 40px;
  height: 40px;
}
